<div class="row d-flex justify-content-center align-middle">
  <div class="card mb-3 card" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="user.avatar_url" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title capitalice">{{user.name}}</h5>
          <p class="card-text">
            Nickname:
            <small class="text-muted capitalice">{{user.login}}</small>
          </p>
          <p *ngIf="user.location" class="card-text">
            Location:
            <small class="text-muted">{{user.location}}</small>
          </p>
          <p *ngIf="user.bio" class="card-text">
            Bio:
            <small class="text-muted">{{user.bio}}</small>
          </p>
          <p *ngIf="user.type" class="card-text">
            Type:
            <small class="text-muted">{{user.type}}</small>
          </p>
          <p *ngIf="user.company" class="card-text">
            Company:
            <small class="text-muted">{{user.company}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>


<a (click)="previousUser(user.login)" class="btn btn-primary">Previous</a>
<a (click)="nextUser(user.login)" class="btn btn-primary">Next</a>
