<h1>{{this.api_key}}</h1>

<!-- <ul *ngFor="let user of users">
  <li>{{user.id}}</li>
  <li>{{user.login}}</li>
</ul> -->
<div class="d-flex justify-content-center w-50">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Login</th>
        <th scope="col">Avatar</th>
        <th scope="col">Profile</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.login}}</td>
        <td>{{user.avatar_url}}</td>
        <td><a [routerLink]="['/details', user.id]" class="btn btn-primary">View Profile</a></td>
      </tr>
    </tbody>
  </table>
</div>
